<!doctype html>
<html>
    <head>
		<meta charset="utf-8">
		<title>Socket.IO chat</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
		<link rel="stylesheet" href="../css/fontello.css">
		<link rel="stylesheet" href="../css/styles.css">
        <script src="/socket.io/socket.io.js"></script>
        <script src="http://code.jquery.com/jquery-3.4.0.min.js"></script>
        <script>
			function updateChats(chats) {
				$('#people').html('');
				chats.forEach(function(chat, i) {
					$('#people').append('<li><a href="#'+chat.id+'" class="chat" data-id="'+chat.id+'">'+chat.name+'<span class="details">'+chat.text+'</span></a></li>');
				});
				$('#people').find('[data-id="'+window.location.hash.slice(1)+'"]').addClass('active');
			}

			function updateMessages(messages, userID) {
				$('#messages').html('');
				messages.forEach(function(message) {
					if(message.sender_id == userID) {
						$('#messages').append('<li style="text-align: right"><span class="message msg-own" title="Wysłano: '+message.sent+'">'+message.text+'</span></li>');
					} else if(message.sender_id == -1) {
						$('#messages').append('<li style="text-align: center"><span class="msg-info" title="'+message.sent+'">'+message.text+'</span></li>');
					} else {
						$('#messages').append('<li><span class="message msg-default" title="Wysłano: '+message.sent+'">'+message.text+'</span></li>');
					}
				});
			}

            $(function () {
				var search = false;
				var socket = io();
				window.location.hash = $('.active').data('id');
                $('#send').click(function(e) {
					e.preventDefault();
					var id = window.location.hash.substr(1);
					if(id != '' && $('#msg').val() != '') {
						socket.emit('msg', {message: $('#msg').val(), chat: id});
						$('#msg').val('');
					}
				});
                socket.on('message', function(data) {
					$('#people').html('');
					data.chats.forEach(function(chat, i) {
						$('#people').append('<li><a href="#'+chat.id+'" class="chat" data-id="'+chat.id+'">'+chat.name+'<span class="details">'+chat.text+'</span></a></li>')
					});
					$('#people > li:first-child').addClass('active');
					updateMessages(data.messages);
				});
				socket.on('search', function(data) {
					$('#people').html('');
					data.results.forEach(user => {
						$('#people').append('<li><div class="person">'+user.firstname+' '+user.lastname+' (@'+user.username+')</div><div class="openChat" data-id="'+user.id+'"><i class="demo-icon icon-comment"></div></li>');
					});
				});
				socket.on('disconnect', function() {
					window.location.href = '/login';
				});
				socket.on('messageList', function(data) {
					updateMessages(data.messages, data.id);
				});
				socket.on('getChats', function(data) {
					updateChats(data.chats, data.user_id);
				});
				socket.on('openChat', function(data) {
					window.location.hash = data.chatID;
					updateChats(data.chats);
					updateMessages(data.messages, data.userID);
				});
				$('#search').on('input', function() {
					if(!search) search = true;
					$('#people').html('');
					socket.emit('search', {query: $('#search').val()});
				});
				$(document).click(function(e) {
					if($(e.target).closest('.list').length == 0 && search) {
						$('#search').val('');
						socket.emit('getChats', {});
						search = false;
					}
				});
				$(document.body).on('click', '.chat', function() {
					$('.active').removeClass('active');
					$(this).addClass('active');
					socket.emit('getMessages', {chat: $(this).data('id')});
				});
				$(document.body).on('click', '.openChat', function() {
					socket.emit('openChat', {id: $(this).data('id')});
				});
            });
        </script>
    </head>
    <body>
		<section class="left">
			<header>
				<h1><%= user.firstname %> <%= user.lastname %></h1>
			</header>
			<section class="list">
				<section class="search">
					<form id="search-form" autocomplete="off">
						<input type="text" placeholder="Szukaj osób" id="search">
					</form>
				</section>
				<ul id="people">
					<% chats.forEach(function(chat, i) { %>
						<li><a href="#<%= chat.id %>" class="chat <% if(i == 0) { %>active<% } %>" data-id="<%= chat.id %>"><%= chat.name %><span class="details"><%= chat.text %></span></a></li>
					<% }); %>
				</ul>
			</section>
		</section>
		<section class="right">
			<header>
				<h1>Messenger <a href="/logout"><i class="demo-icon icon-logout"></i></a></h1>
			</header>
			<section class="preview">
				<ul id="messages">
					<% messages.forEach(function(msg) {
						if(msg.sender_id == user.id) { %>
							<%- '<li style="text-align: right"><span class="message msg-own" title="Wysłano: '+msg.sent+'">'+msg.text+'</span></li>' %>
						<% } else if(msg.sender_id == -1) { %>
							<%- '<li style="text-align: center"><span class="msg-info" title="'+msg.sent+'">'+msg.text+'</span></li>' %>
						<% } else { %>
							<%- '<li><span class="message msg-default" title="Wysłano: '+msg.sent+'">'+msg.text+'</span></li>' %>
						<%}
					}); %>
				</ul>
			</section>
			<section class="form">
				<form class="msg-form" autocomplete="off">
					<input type="text" placeholder="Wiadomość" id="msg">
					<!--<a href="" class="text-btn" id="send-photo"><i class="demo-icon icon-picture"></i></a>&nbsp;-->
					<input type="submit" value="Wyślij" class="text-btn" id="send">
				</form>
			</section>
		</section>
		<span class="version">2019.0.6 (alpha)</span>
    </body>
</html>