<!doctype html>
<html>
    <head>
		<meta charset="utf-8">
		<meta name="author" content="Grzegorz Babiarz">
		<title>Komunikator</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
		<link rel="stylesheet" href="/css/fontello.css">
		<link rel="stylesheet" href="/css/styles.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.css"/>
		<script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
		<script src="http://code.jquery.com/jquery-3.4.0.min.js"></script>
		<script src="/js/jquery.playSound.js"></script>
    <script src="/js/scripts.js"></script>
    </head>
    <body <% if(user.dark_theme) { %>class="dark"<% } %>>
		<section class="left">
			<header>
				<h1><%= user.firstname %> <%= user.lastname %></h1>
			</header>
			<section class="list">
				<section class="search">
					<form id="search-form" autocomplete="off">
						<span style="position: relative">
							<i class="icon-search icons-left"></i>
							<input type="text" style="padding-left: 25px;" placeholder="Szukaj osób" class="search-text">
						</span>
					</form>
				</section>
				<ul id="people">
					<% if(chats.length > 0) { %>
							<% chats.forEach(function(chat, i) { %>
								<li><a href="#<%= chat.id %>" class="chat <% if(i == 0) { %>active<% } %>" data-id="<%= chat.id %>" data-type="<% if(chat.private == 1) { %>private<%  } else { %>public<% } %>"><%= chat.name %><span class="details"><%= chat.text %></span></a></li>
							<% }); %>
					<% } else { %>
						<div class="center"><i class="icon-up"></i><br>Brak utworzonych czatów.<br>Wyszukaj osoby aby zacząć rozmowę</div>
						<div class="center text-bottom">Lub utwórz czat grupowy&nbsp;<i class="icon-right"></i></div>
					<% } %>
				</ul>
			</section>
			<div class="btn-circle" id="create-group-chat" title="Utwórz czat grupowy"><i class="icon-plus"></i></div>
			<div class="create-group-form"><input type="text" class="group-name" placeholder="Nazwa czatu"><button class="create-group"><i class="icon-ok"></i></button></div>
		</section>
		<section class="right">
			<header>
				<h1>Messenger <i class="icon-circle btn-theme" title="Włącz <%= (user.dark_theme ? 'jasny' : 'ciemny') %> motyw"></i><a href="/logout" title="Wyloguj się"><i class="icon-logout"></i></a></h1>
			</header>
			<section class="preview">
				<section class="messages">
					<ul class="message-list">
						<% messages.forEach(function(msg) {
							if(msg.sender_id == user.id) {
								if(msg.removed !== null) { %>
									<li style="text-align: right"><span class="message msg-own removed" style="background-color: #<%= chats[0].color %>;<% if(parseInt(chats[0].color, 16) > 12000000) { %>color: #2d2d2d; <% } %></span>" title="<%= 'Nadawca: '+user.firstname+' '+user.lastname+'\r\n Wysłano: '+msg.sent+'\r\nUsunięto: '+msg.removed %>" data-id="<%= msg.id %>"><%= msg.text %></span></li>
								<% } else { %>
									<li style="text-align: right"><span class="message msg-own" style="background-color: #<%= chats[0].color %>;<% if(parseInt(chats[0].color, 16) > 12000000) { %>color: #2d2d2d; <% } %>" title="<%= 'Nadawca: '+user.firstname+' '+user.lastname+'\r\nWysłano: '+msg.sent %>" data-id="<%= msg.id %>"><%= msg.text %></span></li>
								<% }
							} else if(msg.sender_id == null) { %>
								<li style="text-align: center"><span class="msg-info" title="<%= msg.sent %>"><%= msg.text %></span></li>
							<% } else {
								if(msg.removed !== null) { %>
									<li><%- (!chat.private ? '<div class="sender">'+msg.sender+'</div>' : '') %><span class="message msg-default removed" title="<%= 'Nadawca: '+msg.sender+'\r\nWysłano: '+msg.sent+'\r\nUsunięto: '+msg.removed %>"><%= msg.text %></span></li>
								<% } else { %>
									<li><%- (!chat.private ? '<div class="sender">'+msg.sender+'</div>' : '') %><span class="message msg-default" title="<%= 'Nadawca: '+msg.sender+'\r\nWysłano: '+msg.sent %>"><%= msg.text %></span></li>
								<% }
							}
						}); %>
					</ul>
					<section class="form">
						<form class="msg-form" autocomplete="off">
							<input type="text" placeholder="Wiadomość" id="msg">
							<div style="width: 20%; display: inline-block; text-align: center;">
								<input type="submit" value="Wyślij" class="text-btn" id="send">
							</div>
						</form>
					</section>
				</section>
				<section class="chat-info">
					<header>
						<h3 class="chat-name search">
							<% if(chats.length > 0) { %>
								<%= chat.name %>
							<% } %>
						</h3>
					</header>
					<section>
						<ul class="options">
							<% if(chats.length > 0) { 
								if(chat.private) { %>
									<li><i class="icon-user"></i>Nazwa użytkownika: <%= chat.username %></li>
									<li><i class="icon-clock"></i>Data rejestracji: <%= chat.register_date %></li>
									<li class="set-color"><i class="icon-color-adjust"></i>Kolor czatu: <div class="color-picker"><%= chat.color %></div></li>
								
								<% } else { %>
									<li><i class="icon-users"></i><%= chat.members %> członków</li>
									<li><i class="icon-clock"></i>Utworzono <%= chat.creation_date %></li>
									<li class="set-color"><i class="icon-color-adjust"></i>Kolor czatu: <div class="color-picker"><%= chat.color %></div></li>
									<li class="option-active edit-name"><i class="icon-pencil"></i>Zmień nazwę</li>
									<li class="option-active add-members"><i class="icon-user-plus"></i>Dodaj osoby</li>
									<li class="option-active remove-members"><i class="icon-user-times"></i>Usuń osoby</li>
								<% }
							} %>
						</ul>
					</section>
				</section>
			</section>
		</section>
		<span class="version"><%= version %></span>
    </body>
</html>