<!doctype html>
<html>
    <head>
		<meta charset="utf-8">
		<title>Socket.IO chat</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
		<link rel="stylesheet" href="../css/fontello.css">
		<link rel="stylesheet" href="../css/styles.css">
        <script src="/socket.io/socket.io.js"></script>
        <script src="http://code.jquery.com/jquery-3.4.0.min.js"></script>
        <script>
            $(function () {
                var socket = io();
                $('#send').click(function(e) {
					e.preventDefault();
					var id = window.location.hash.substr(1);
					if(id != '' && $('#msg').val() != '') {
						socket.emit('msg', {message: $('#msg').val(), chat: id});
						$('#msg').val('');
					}
				});
                socket.on('msg', function(data) {
                    $('#messages').append('<li>'+data.message+'</li>');
				});
				socket.on('search', function(data) {
					$('#people').html('');
					data.results.forEach(user => {
						$('#people').append('<li>'+user.firstname+' '+user.lastname+' (@'+user.username+')</li>');
					});
				});
				socket.on('disconnect', function() {
					window.location.href = '/login';
				});
				socket.on('messageList', function(data) {
					$('#messages').html('');
					data.messages.forEach(function(msg) {
						if(msg.sender_id == data.id) {
							$('#messages').append('<li style="text-align: right"><span class="own">'+msg.text+'</span></li>');
						} else {
							$('#messages').append('<li><span class="message">'+msg.text+'</span></li>');
						}
					});
				});
				$('#search').on('input', function() {
					$('#people').html('');
					socket.emit('search', {query: $('#search').val()});
				});
				$('#search').focusout(function() {
					$('#people').html('');
					$('#search').val('');
				});
				$('.chat').click(function() {
					console.log($(this).data('id'));
					socket.emit('getMessages', {chat: $(this).data('id')});
				});
            });
        </script>
    </head>
    <body>
		<section class="left">
			<header>
				<h1><%= user.firstname %> <%= user.lastname %></h1>
			</header>
			<section class="list">
				<section class="search">
					<form id="search-form" autocomplete="off">
						<input type="text" placeholder="Szukaj osób" id="search">
					</form>
				</section>
				<ul id="people">
					<% publicChat.forEach(function(chat) { %>
						<li><a href="#<%= chat.id %>" class="chat" data-id="<%= chat.id %>"><%= chat.name %><span class="details"><%= chat.text %></span></a></li>
					<% }); %>
					<% privateChat.forEach(function(chat) { %>
						<li><a href="#<%= chat.id %>" class="chat" data-id="<%= chat.id %>"><%= chat.firstname %> <%= chat.lastname %><span class="details"><%= chat.text %></span></a></li>
					<% }); %>
				</ul>
			</section>
		</section>
		<section class="right">
			<header>
				<h1>Messenger <a href="/logout"><i class="demo-icon icon-logout"></i></a></h1>
			</header>
			<section class="preview">
				<ul id="messages">
				</ul>
			</section>
			<section class="form">
				<form class="msg-form" autocomplete="off">
					<input type="text" placeholder="Wiadomość" id="msg">
					<!--<a href="" class="text-btn" id="send-photo"><i class="demo-icon icon-picture"></i></a>&nbsp;-->
					<input type="submit" value="Wyślij" class="text-btn" id="send">
				</form>
			</section>
		</section>
		<span class="version">2019.0.3 (alpha)</span>
    </body>
</html>