<!doctype html>
<html>
    <head>
		<meta charset="utf-8">
		<title>Socket.IO chat</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
		<link rel="stylesheet" href="../css/fontello.css">
		<link rel="stylesheet" href="../css/styles.css">
        <script src="/socket.io/socket.io.js"></script>
		<script src="http://code.jquery.com/jquery-3.4.0.min.js"></script>
		<script src="../js/jquery.playSound.js"></script>
        <script src="../js/scripts.js"></script>
    </head>
    <body>
		<section class="left">
			<header>
				<h1><%= user.firstname %> <%= user.lastname %></h1>
			</header>
			<section class="list">
				<section class="search">
					<form id="search-form" autocomplete="off">
						<input type="text" placeholder="Szukaj osób" id="search">
					</form>
				</section>
				<ul id="people">
					<% if(chats.length > 0) { %>
						<% chats.forEach(function(chat, i) { %>
							<li><a href="#<%= chat.id %>" class="chat <% if(i == 0) { %>active<% } %>" data-id="<%= chat.id %>" data-type="<% if(chat.private == 1) { %>private<%  } else { %>public<% } %>"><%= chat.name %><span class="details"><%= chat.text %></span></a></li>
						<% }); %>
					<% } else { %>
						<div class="center"><i class="demo-icon icon-up"></i><br>Brak utworzonych czatów.<br>Wyszukaj osoby aby utworzyć czat</div>
					<% } %>
				</ul>
			</section>
		</section>
		<section class="right">
			<header>
				<h1>Messenger <a href="/logout"><i class="demo-icon icon-logout"></i></a></h1>
			</header>
			<section class="preview">
				<ul id="messages">
					<% messages.forEach(function(msg) {
						if(msg.sender_id == user.id) { %>
							<%- '<li style="text-align: right"><span class="message msg-own" title="Wysłano: '+msg.sent+'">'+msg.text+'</span></li>' %>
						<% } else if(msg.sender_id == -1) { %>
							<%- '<li style="text-align: center"><span class="msg-info" title="'+msg.sent+'">'+msg.text+'</span></li>' %>
						<% } else { %>
							<%- '<li><span class="message msg-default" title="Wysłano: '+msg.sent+'">'+msg.text+'</span></li>' %>
						<%}
					}); %>
				</ul>
			</section>
			<section class="form">
				<form class="msg-form" autocomplete="off">
					<input type="text" placeholder="Wiadomość" id="msg">
					<!--<a href="" class="text-btn" id="send-photo"><i class="demo-icon icon-picture"></i></a>&nbsp;-->
					<input type="submit" value="Wyślij" class="text-btn" id="send">
				</form>
			</section>
		</section>
		<span class="version"><%= version %></span>
    </body>
</html>